<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>

    <body class="background">
        <div>
            <a href="/" class="homebutton"> <i class="fa fa-home"></i> </a>
            <h1> Har du ett mätinstument </h1>
        </div>
        <br>
        <div style="text-align:center"><a href="/snowtypes/{{snow_type}}/input" class="bluebutton"> JA </a> <a href="/snowtypes/{{snow_type}}/temp" class="bluebutton"> NEJ </a></div>
    </body>
</html>