<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>

    <body class="background">
        <a href="/" class="homebutton"> <i class="fa fa-home"></i> </a>
        <h1> Datainsamling </h1>
        <br>
        <div style="text-align:center"><a href="input/wait" class="bluebutton"> Samla in data </a></div>
    </body>
</html>