<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    </head>

    <body class="background">
        <div>
            <a href="/" class="homebutton"> <i class="fa fa-home"></i> </a>
            <h1> Feedback </h1>
        </div>
        <div class="block">
            <div autocomplete="off" class="header"> Vilken valla valde du? </div>
            <br>
            <form method="POST" class="input">
                <input name="wax" id="wax" type="text" class="inputfield">
                <br>
                <br>
                <input type="submit" value="Lämna feedback" class="waxbutton">
            </form>
        </div>
    </body>
</html>
